
body {
    font-family: 'Open Sans' , sans-serif;
}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
    }


a  {
    text-decoration: none;
}
img {
    max-width: 100%
}

h3 {
    margin: 0 0 1em 0;
}
header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

#logo {
    /*our name and description of who we are.*/
    text-align: center;
    margin: 0;
}
h1{
    font-family: 'Fascinate Inline', sans-serif;
    margin: 15px 0;
    font-size: 1.75em;
}

h2 {
    font-size: 0.75em;
    margin: -5px 0 0;
    font-weight: normal;
}
nav{
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul {
    list-style: none;
    padding: 10px 0;
    margin: 0 10px;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}
footer{
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: #fff;
    clear: both;
}
.social-media-icon {
    width: 20px;
    height:20px;
    margin: 0 5px;
}
#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: #75A3A3;
    color: #bdc3c7;
}

#gallery li a p {
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    color: white;
}

.profile-photo {
    display: block;
    max-width: 300px;
    border-radius: 10%;
    float: left;
    margin: 0 5% 80px 0;
    height: auto;
    width: auto;
    }


body {
     background-color: #00FF00; 
    float: right;
    margin: 0 0 0 0;
    padding:0 0 0 0;
    width: 100%
    }



header {
    background: #FFFF33;
    float: left;
    margin: 0 0 30px 0;
    padding: 0 0 0 0;
    width: 100%;
    text-align: center; 
    }


h1, h2 {
    color: #0033CC;
}


a{
    color: black;
}

nav {
    background: #0066FF;
}

nav a, nav a:visted{
    color:#5FBFFF;
}

nav a.selected,nav a:hover {
    color: #32673f;
}

@media screen and (min-height: 480px){
    #primary {
        width: 50%;
        float: left;
    }
    #secondary {
        width: 40%;
        float: right;
    }
}

#gallery li{
    width: 28.3333%;
}


#gallery li:nth-child(4n){
    clear: left;
}



@media screen and (min-width: 660px) {
    nav{
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%;
    }
    #logo {
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }
    h1{
        font-size: 2.5em;
    }
    h2 {
        font-size: 0.825em;
        margin-bottom: 20px;
    }
    header {
        border-bottom: 5px solid black;
        margin-bottom: 60px;
    }
}


.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

.contact-info a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}
.contact-info li.email a{
    background-image: url('../img/gmail.png');
}


.catalina {
    width: 230px;
    height: 230px;
    margin:0 17px;
}




